.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    border: 1px solid #77a9ff;
    padding: 20px;
    width: 200px;
    text-align: center;
    image-resolution: 1920 1080;
}
.product{
    background-color: rgb(50, 76, 67);
}
